/* _content/BlazorComp/TestFolder/LabeledInput.razor.rz.scp.css */
.holder[b-9kunzgoxss] {
    font-size: 20pt;
}

.label[b-9kunzgoxss] {
    font-family: cursive;
}

.input[b-9kunzgoxss] {
    color: olive;
}
